.container {
  max-width: 96rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.inlineContainer {
  margin-left: 0rem;
}

.star--filled {
  color: #FF9800;
  vertical-align: middle;
}

.star--empty {
  color: #FFB100;
  vertical-align: middle;
}
