.galleryLayoutOptionButton {
  background-color: #f0f0f0;
  color: #3f3f40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3f3f40;
  color: #ffffff;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center;
}

.galleryItem {
  border-radius: 10px;
}

.galleryItem--list {
  border-bottom: 1px #e7e9ee solid;
}

.buttonShowMore {
  margin-top: 2rem;
  border-radius: 50px;
  color: black;
}

.searchResultContainer {
  padding: 0;
  min-width: 100%;
  background-color: #f1f1f1;
}

.searchResultContainer--prova-height-width-mobile {
  padding: 0 0;
  width: 100%;
}

.filters--layout {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.filterMessage {
  color: #5E6E84;
}

.filterMessage::before {
  content: " ";
  width: 15px;
  height: 12px;
  background: url(https://storage.beko.co.uk/assets/beko/cat2020/filter-icon.svg);
  display: inline-block;
  margin-right: 10px;
}

.filter__container {
  border-color: #474646;
}

.filterTitleSpan,
.filterItem {
  font-size: 13px;
}

.filter__container--color .filterItem:not(:last-child) {
  padding-bottom: 5px;
}

.filter__container :global(.vtex-checkbox__line-container),
.filter__container :global(.vtex-checkbox__label) {
  align-items: center;
  display: flex;
}

.filter__container--color :global(.vtex-checkbox__label)::after {
  border: 1px solid #cfd4d9;
  border-radius: 50%;
  content: "";
  display: inline-block;
  height: 16px;
  margin-left: auto;
  width: 16px;
}

.filter__container--color
  .filterItem--white
  :global(.vtex-checkbox__label)::after {
  background-color: #fff;
}

.filter__container--color
  .filterItem--stainless-steel-effect
  :global(.vtex-checkbox__label)::after {
  background-image: url("https://storage.beko.co.uk/bekoupload/filters/icon_colour_stainless_steel.png");
  background-size: contain;
}

.filter__container--color
  .filterItem--black
  :global(.vtex-checkbox__label)::after {
  background-color: #000;
}

.filter__container--color
  .filterItem--silver
  :global(.vtex-checkbox__label)::after {
  background-image: url("https://storage.beko.co.uk/bekoupload/filters/icon_colour_silver.png");
  background-size: contain;
}

.orderByOptionItem {
  font-family: coreSansRegular;
}

/* PRE PLP */
.container--layout--prePlp {
  background-color: #fff !important;
  /* padding-bottom: 4rem; */
}
